body{
    margin: 0;
   background-color: #ffffff;
 
}




nav{ 
    

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(255, 253, 253);

} 


    


#icon{
    width: 65px;
}

#noticias{
    display: flex;
    justify-content: space-around;
    
}
.noticia{

margin: 30px;
text-align: center;
background-color: #ff0101;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(0, 0, 0);
border: 5px solid #000000;


}

.noticia-img {
    width: 400px;
   
}

footer{
    background-color: #000000;
    color: rgb(255, 253, 253);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}